/* GENERAL TYPOGRAPHY */

a {
	color: #0074a1;
}

a:hover {
	color: #004c69;
}

span.highlight {
	color: #0074a1;
}

/* MENU */

#menu-wrapper,
#menu-wrapper .menu,
#menu-wrapper .menu li,
#menu-wrapper .menu li a:hover {
	background-image: url(../../images/style/blue/menu.png);
}

#menu-wrapper .menu li ul {
	background-color: #0090c9;
	border-color: #005e83;
	border-top-color: #00adf1;
}

#menu-wrapper .menu li ul li a:hover {
	background-color: #0073a1;
}

#menu-wrapper .menu li ul ul {
	border-color: #005e83;
}

/* SLOGAN */

#slogan span {
	color: #0074a1;
}

/* SIDEBAR */

#sidebar .widget li a:hover {
	color: #0074a1;
}

/* FOOTER */

#footer-top {
	background-image: url(../../images/style/blue/footer-top.png);
}

/* BLOG */

#content .entry h1 a:hover {
	color: #0074a1;
}

/* PORTFOLIO */

#full-width-content .portfolio-box h2 a:hover {
	color: #0074a1;
}