/* GENERAL TYPOGRAPHY */

a {
	color: #3da724;
}

a:hover {
	color: #2d701e;
}

span.highlight {
	color: #3da724;
}

/* MENU */

#menu-wrapper,
#menu-wrapper .menu,
#menu-wrapper .menu li,
#menu-wrapper .menu li a:hover {
	background-image: url(../../images/style/green/menu.png);
}

#menu-wrapper .menu li ul {
	background-color: #3ca424;
	border-color: #1e4d13;
	border-top-color: #06cb0f;
}

#menu-wrapper .menu li ul li a:hover {
	background-color: #307e1d;
}

#menu-wrapper .menu li ul ul {
	border-color: #1e4d13;
}

/* SLOGAN */

#slogan span {
	color: #3da724;
}

/* SIDEBAR */

#sidebar .widget li a:hover {
	color: #3da724;
}

/* FOOTER */

#footer-top {
	background-image: url(../../images/style/green/footer-top.png);
}

/* BLOG */

#content .entry h1 a:hover {
	color: #3da724;
}

/* PORTFOLIO */

#full-width-content .portfolio-box h2 a:hover {
	color: #3da724;
}