/* GENERAL TYPOGRAPHY */

a {
	color: #dab933;
}

a:hover {
	color: #bca02e;
}

span.highlight {
	color: #dab933;
}

/* MENU */

#menu-wrapper,
#menu-wrapper .menu,
#menu-wrapper .menu li,
#menu-wrapper .menu li a:hover {
	background-image: url(../../images/style/yellow/menu.png);
}

#menu-wrapper .menu li ul {
	background-color: #dab933;
	border-color: #a28923;
	border-top-color: #fdec73;
}

#menu-wrapper .menu li ul li a:hover {
	background-color: #bca02e;
}

#menu-wrapper .menu li ul ul {
	border-color: #a28923;
}

/* SLOGAN */

#slogan span {
	color: #dab933;
}

/* SIDEBAR */

#sidebar .widget li a:hover {
	color: #dab933;
}

/* FOOTER */

#footer-top {
	background-image: url(../../images/style/yellow/footer-top.png);
}

/* BLOG */

#content .entry h1 a:hover {
	color: #dab933;
}

/* PORTFOLIO */

#full-width-content .portfolio-box h2 a:hover {
	color: #dab933;
}