body {
	background: #0e0e0e;
	color: #666666;
	font-family: Arial;
	font-size: 12px;
	line-height: 150%;
	text-align: center;
}

/* CLASSES */

.clear {
	clear: both;
}

.largest {
	font-size: 19px;
	line-height: 150%;
}

.larger {
	font-size: 17px;
	line-height: 150%;
}

.large {
	font-size: 15px;
	line-height: 150%;
}

.small {
	font-size: 11px;
	line-height: 130%;
}

.smaller {
	font-size: 10px;
	line-height: 130%;
}

.smallest {
	font-size: 9px;
	line-height: 130%;
}

.button {	
	-moz-border-radius: 99px 99px 99px 99px;
	-webkit-border-radius: 99px 99px 99px 99px;
	background: url(../../images/shared/white-grad.png) repeat-x;
	border: 1px solid #cccccc;
	border-radius: 99px 99px 99px 99px;
	color: #666666;
	cursor: pointer;
	font-size: 11px;
	padding: 5px 12px;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 1px 1px #FFFFFF;
}

.button:hover {
	border-color: #666666;
	color: #666666;
}

/* GENERAL TYPOGRAPHY */

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cantarell', arial, serif;
	font-weight: normal;
	line-height: 150%;
	margin: 20px 0 12px 0;
}

h1 {
	margin-top: 0;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 11px;
}

p {
	margin-bottom: 12px;
}

ul {
	list-style: inherit;
	padding: 13px 0 13px 25px;
}

ol {
	list-style: decimal;
	padding: 13px 0 13px 25px;
}

li {
 	padding: 5px 0;
}

.hr {
	border-top: 1px solid #cccccc;
	clear: both;
	display: block;
	margin: 30px 0 0 0;
	padding: 0 0 30px 0;
	position: relative;
}

blockquote {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 13px;
	font-style: italic;
	line-height: 150%;
}

img.pretty {
	border: 1px solid #cccccc;
	padding: 4px;
}

pre {
	background: url(../../images/shared/code_bg.png);
	border: 1px solid #C7C7C7;
	display: block;
	margin-bottom: 10px;
	font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 11px;
	line-height:19px;
	padding: 0 5px;
}

.clean {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.clean th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
	background: #f2f2f2;
}

.clean td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alignleft {
	float: left;
	margin: 5px 15px 5px 0;
}

.alignright {
	float: right;
	margin: 5px 0 5px 15px;
}

.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}

.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

.shortcode {
	background-position: 0 100%;
	background-repeat: repeat-x;
	display: block;
	margin: 15px 0;
}

.shortcode p {
	padding: 0 0 10px 0;
}

.shortcode div {
	background: 10px 12px no-repeat;
	display: block;
	margin: 0;
	padding: 8px 10px 8px 36px;
}

.alert {
	background-color: #FFFBFB;
	background-image: url(../../images/shortcodes/alert.png);
	border: 1px solid #F8C9BB;
	color: #D0583F;
}

.alert .icon {
	background-image: url(../../images/shortcodes/alert-icon.png);
}

.approved {
	background-color: #FAFDF9;
	background-image: url(../../images/shortcodes/approved.png);
	border: 1px solid #C1CEC1;
	color: #6CB656;
}

.approved .icon {
	background-image: url(../../images/shortcodes/approved-icon.png);
}

.attention {
	background-color: #FFFDF6;
	background-image: url(../../images/shortcodes/attention.png);
	border: 1px solid #E4E4D5;
	color: #E1B42F;
}

.attention .icon {
	background-image: url(../../images/shortcodes/attention-icon.png);
}

.camera {
	background-color: #F6FBFB;
	background-image: url(../../images/shortcodes/camera.png);
	border: 1px solid #C9D5D8;
	color: #55A0B4;
}

.camera .icon {
	background-image: url(../../images/shortcodes/camera-icon.png);
}

.cart {
	background-color: #FCFCFC;
	background-image: url(../../images/shortcodes/cart.png);
	border: 1px solid #D3D3D3;
	color: #559726;
}

.cart .icon {
	background-image: url(../../images/shortcodes/cart-icon.png);
}

.doc {
	background-color: #FFFFFF;
	background-image: url(../../images/shortcodes/doc.png);
	border: 1px solid #E5E5E5;
	color: #666666;
}

.doc .icon {
	background-image: url(../../images/shortcodes/doc-icon.png);
}

.download {
	background-color: #FCFCFC;
	background-image: url(../../images/shortcodes/download.png);
	border: 1px solid #D3D3D3;
	color: #666666;
}

.download .icon {
	background-image: url(../../images/shortcodes/download-icon.png);
}

.media {
	background-color: #FBF9FD;
	background-image: url(../../images/shortcodes/media.png);
	border: 1px solid #DBE1E6;
	color: #8D79A9;
}

.media .icon {
	background-image: url(../../images/shortcodes/media-icon.png);
}

.note {
	background-color: #FFFAF6;
	background-image: url(../../images/shortcodes/note.png);
	border: 1px solid #E6DAD2;
	color: #B76F38;
}

.note .icon {
	background-image: url(../../images/shortcodes/note-icon.png);
}

.notice {
	background-color: #FAFCFD;
	background-image: url(../../images/shortcodes/notice.png);
	border: 1px solid #C7CDDA;
	color: #6187B3;
}

.notice .icon {
	background-image: url(../../images/shortcodes/notice-icon.png);
}

.quote {
	background-color: #F3F3F3;
	background-image: url(../../images/shortcodes/quote.png);
	border: 1px solid #D4D4D4;
	color: #727272;
}

.quote .icon {
	background-image: url(../../images/shortcodes/quote-icon.png);
}

/* HEADER */

#header {
	background: #101010 url(../../images/shared/header.png) center 0 no-repeat;
}

#header .content {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 940px;
}

#header #twitter {
	background: transparent url(../../images/shared/twitter.png) 0 center no-repeat;
	color: #cccccc;
	float: right;
	font-size: 11px;
	position: absolute;
	top: 15px;
	right: 80px;
	text-shadow: 0 2px 0 #000000;
	width: 415px;
	height: 80px;
}

#header #twitter .inner {
	padding: 3px 0 3px 90px;
}

#header #twitter .inner ul {
	padding: 0;
}

#header #twitter .inner li {
	list-style: none;
	padding: 0;
}

/* MENU */

#menu-wrapper {
	background-position: 0 0;
	background-repeat: repeat-x;
	position: relative;
	z-index: 2;
}

#menu-wrapper .content {
	margin: 0 auto;
	text-align: left;
	width: 940px;
}

#menu-wrapper .menu {
	background-position: 0 -37px;
	background-repeat: no-repeat;
	padding: 0 0 0 2px;
}

/* MAIN */

#main {
	background: #ffffff url(../../images/shared/main.png) repeat-x;
	padding: 20px 0;
	position: relative;
	z-index: 1;
}

#main .content {
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

/* SLIDESHOW */

#main .slideshow-wrapper {
	background: url(../../images/shared/slideshow-wrapper.png) repeat-x;
	padding: 11px 15px 0 15px;
}

#main #content .slideshow-wrapper {
	background: url(../../images/shared/slideshow-wrapper-small.png) repeat-x;
	padding: 7px 10px 0 10px;
}

#main .slideshow {
	overflow: hidden;
	width: 930px;
	height: 350px;
}

#main .slideshow div { /* Important for IE7 */
	width: 930px;
	height: 350px;
}

#main #content .slideshow {
	overflow: hidden;
	width: 620px;
	height: 230px;
}

#main #content .slideshow div { /* Important for IE7 */
	width: 620px;
	height: 230px;
}

#main .slideshow-nav {
	height: 45px;
}

.slideshow-nav-inner {
	text-align: center;
	padding: 13px 0 0 0;
}

#content .slideshow-nav-inner {
	padding: 6px 0 0 0;
}

.slideshow-nav-inner a {
	border: none;
}

.slideshow-nav-inner a img {
	background: url(../../images/shared/slide-buttons.png) 0 0 no-repeat;
	height: 20px;
	width: 20px;
}

.slideshow-nav-inner a:hover img,
.slideshow-nav-inner a.activeSlide img {
	background-position: 0 -20px;
}


/* SLOGAN */

#main #slogan {
	padding: 20px 0;
}

#main #slogan p {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 27px;
	font-style: italic;
	line-height: 35px;
	margin: 0;
	text-align: center;
}

/* HOMEPAGE BOXES */

#homepage-boxes {
	padding: 10px 0;
}

#homepage-boxes .half {
	margin: 0 10px;
	width: 460px;
}

#homepage-boxes .one-fourth {
	margin: 0 10px;
	width: 220px;
}

#homepage-boxes .three-fourth {
	margin: 0 10px;
	width: 700px;
}

#homepage-boxes .one-third {
	margin: 0 10px;
	width: 300px;
}

#homepage-boxes .two-third {
	margin: 0 10px;
	width: 620px;
}

#homepage-boxes .widget {
	display: inline;
	float: left;
	font-size: 11px;
}

#homepage-boxes .widget .pad {
	padding: 10px;
}

#homepage-boxes .widget h2 {
	border-bottom: 1px solid #f2f2f2;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
}

/* NEWS TICKER */

#news-ticker {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #f2f2f2;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin: 20px 10px 0 10px;
	height: 42px;
	line-height: 20px;
	overflow: hidden;
}

#content #news-ticker {
	margin: 20px 0;
}

#news-ticker .inner {
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 42px;
	position: relative;
}

#news-ticker ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#news-ticker li {
	font-size: 11px;
	padding: 12px 15px 10px 15px;
}

#content #news-ticker li {
	background-image: none;
}

#news-ticker .readmore {	
	-moz-border-radius: 99px 99px 99px 99px;
	-webkit-border-radius: 99px 99px 99px 99px;
	background: url(../../images/shared/white-grad.png) repeat-x;
	border: 1px solid #cccccc;
	border-radius: 99px 99px 99px 99px;
	color: #666666;
	cursor: pointer;
	font-size: 11px;
	padding: 5px 12px;
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 1px 1px #FFFFFF;
}

#news-ticker .readmore:hover {
	border-color: #666666;
}

/* 2-COLUMN LAYOUT */

#main #content {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	width: 640px;
}

#main #sidebar {
	float: left;
	margin: 0 10px 0 35px;
	width: 265px;
}

#content .one-half {
	float: left;
	margin: 0 20px 0 0;
	width: 310px;
}

#content .one-fourth {
	float: left;
	margin: 0 20px 0 0;
	width: 145px;
}

#content .three-fourth {
	float: left;
	margin: 0 20px 0 0;
	width: 475px;
}

#content .one-third {
	float: left;
	margin: 0 20px 0 0;
	width: 200px;
}

#content .two-third {
	float: left;
	margin: 0 20px 0 0;
	width: 420px;
}

#content .last {
	margin: 0;
}

/* 1-COLUMN LAYOUT */

#main #full-width-content {
	margin: 0 10px;
}

#full-width-content .one-half {
	float: left;
	margin: 0 20px 0 0;
	width: 460px;
}

#full-width-content .one-fourth {
	float: left;
	margin: 0 20px 0 0;
	width: 220px;
}

#full-width-content .three-fourth {
	float: left;
	margin: 0 20px 0 0;
	width: 700px;
}

#full-width-content .one-third {
	float: left;
	margin: 0 20px 0 0;
	width: 300px;
}

#full-width-content .two-third {
	float: left;
	margin: 0 20px 0 0;
	width: 620px;
}

#full-width-content .last {
	margin: 0;
}

/* SIDEBAR */

#sidebar .widget h3 {
	font-size: 22px;
}

#sidebar .widget ul {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #cccccc;
}

#sidebar .widget li {
	line-height: 100%;
	padding: 7px 0 7px 15px;
	border-top: 1px solid #cccccc;
	background-image: url(../../images/shared/bullet.png);
	background-position: 0 10px;
	background-repeat: no-repeat;
	overflow: hidden;
}

#sidebar .widget li a {
	border: none;
	color: #666666;
	display: block;
}

#sidebar .widget li a:hover {
	text-decoration: none;
}

#sidebar .widget li.current_page_item a, 
#sidebar .widget li a.current_page_item {
	font-weight: bold;
}

#sidebar .widget li ul {
	margin: 7px 0 0 -10px;
	padding: 0;
	border: none;
}

#sidebar .widget li ul li {
	padding-left: 30px;
	background-position: 20px 10px;
}

/* FOOTER */

#footer-top {
	background-repeat: repeat-x;
	background-image: url(../../images/style/blue/footer-top.png);
	height: 26px;
}

#footer {
	background: #0e0e0e url(../../images/shared/footer.png) center 0 no-repeat;
}

#footer .content {
	margin: 0 auto;
	text-align: left;
	text-shadow: 0 1px 0 #000000;
	width: 960px;
}

#footer-boxes {
	color: #cccccc;
	padding: 20px 0;
}

#footer-boxes .half {
	margin: 0 10px;
	width: 460px;
}

#footer-boxes .one-fourth {
	display: inline;
	margin: 0 10px;
	width: 220px;
}

#footer-boxes .three-fourth {
	margin: 0 10px;
	width: 700px;
}

#footer-boxes .one-third {
	margin: 0 10px;
	width: 300px;
}

#footer-boxes .two-third {
	margin: 0 10px;
	width: 620px;
}

#footer-boxes .widget {
	float: left;
	font-size: 11px;
}

#footer-boxes .widget .pad {
	padding: 10px;
}

#footer-boxes .widget h3 {
	font-size: 16px;
	margin: 0 0 15px 0;
}

#footer-boxes .widget ul {
	list-style: none;
	padding: 0;
}

#footer-boxes .widget li {
	padding: 2px 0;
}

/* COPYRIGHT */

#copyright {
	background: url(../../images/shared/footer-divider.png) repeat-x;
	font-size: 10px;
	line-height: 12px;
	padding: 20px 10px;
}

#copyright .info {
	float: left;
}

#copyright .menu {
	float: right;
	list-style: none;
	padding: 0;
}

#copyright .menu li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #666666;
}

#copyright .menu li:first-child {
	border: none;
}

#copyright .menu li a {
	color: #666666;
}

#copyright .menu li a:hover {
	color: #cccccc; 
}

/* BLOG */

#main #content .content {
	width: 100%;
}

#content .entry {
	margin: 0 0 40px 0;
}

#content .entry h1 {
	margin: 0 0 5px 0;
}

#content .entry h1 a {
	color: #666666;
}

#content .entry .meta {
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	font-size: 11px;
	margin: 0 0 20px 0;
	overflow: hidden;
	_height: 35px; /* IE6 Fix */
}

#content .entry .meta a {
	color: #aaaaaa;
	text-decoration: none;
}

#content .entry .meta a:hover {
	color: #414141;
}

#content .entry .meta .left {
	display: block;
	float: left;
}

#content .entry .meta .left .date {
	background-image: url(../../images/shared/post-date.png);
	background-position: 0 center;
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding: 8px 10px 8px 30px;
}

#content .entry .meta .right {
	float: right;
}

#content .entry .meta .right .author,
#content .entry .meta .right .comments {
	background-position: 0 center;
	background-repeat: no-repeat;
	color: #aaaaaa;
	display: block;
	float: right;
	padding: 8px 10px 8px 30px;
}

#content .entry .meta .right .author {
	background-image: url(../../images/shared/post-author.png);
}

#content .entry .meta .right .comments {
	background-image: url(../../images/shared/post-comment.png);
}

#content .entry .wp-post-image {
	background-color: #ffffff;
	padding: 4px;
	margin: 0 0 12px 0;
	border: 1px solid #cccccc;
}

#content .entry .excerpt p {
	margin: 0 0 15px 0;
}

/* COMMENTS */

.says {
	padding-left: 5px;
}

.says,
.date {
	color: #aaaaaa;
}

.thread-even, .thread-odd {
	border: 1px solid #cccccc;
	border-top: none;
}

.thread-even {
	background-color: #f5f5f5;
}

.thread-even ol {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-bottom: none;
	margin: 0 0 10px 0;
	padding: 0;
}

.thread-odd {
	background-color: #ffffff;
}

.thread-odd ol {
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-bottom: none;
	margin: 0 0 10px 0;
	padding: 0;
}

#content #comments-wrap {
	padding-top: 10px;
}

#content #comments-wrap p {
	padding: 5px 0;
}

#content #comments-wrap a.name {
	text-decoration: none;	
}

#content #comments-wrap ol.commentlist {
	border-top: 1px solid #cccccc;
	padding-left: 0;
	padding-top: 0;
}

#content #comments-wrap ol ul {
	border: 1px solid #cccccc;
	border-bottom: none;
	margin: 0 10px 10px 10px;
}

#content #comments-wrap li {
	background-image: none;
	list-style: none;
	padding: 0 10px;
}

#content #comments-wrap li ul.children {
	border: 1px solid #cccccc;
	border-bottom: none;
	margin: 13px 0;
	padding: 0;
}

#content #comments-wrap li li {
	padding: 10px;
	border-bottom: 1px solid #cccccc;
}

#content #comments-wrap li a.name:hover {
	border: none;
}

#content #comments-wrap li .comment-left {
	float: left;
	display: inline;
	padding: 15px 0;
	width: 60px;
}

#content #comments-wrap li .comment-right {
	float: left;
	display: inline;
	padding: 15px 0 35px 0;
	position: relative;
	width: 480px;
}

#content #comments-wrap li li .comment-right {
	padding: 5px 0;
	width: 458px;
}

#content #comments-wrap li li .comment-left {
	padding: 5px 0;
}

#content #comments-wrap li li li .comment-right {
	width: 375px;
}

.comment-right-inner {
	padding: 0 20px 0 0;
}

.comment-right .name {
	font-size: 20px;	
}

#content .reply-link a {
	border: 1px solid #cccccc;
	display: block;
	font-size: 11px;
	padding: 3px 8px;
	position: absolute;
	right: 0;
	bottom: 10px;
	text-decoration: none;
}

#content .reply-link a:hover {
	background-color: #ffffff;
	text-decoration: none;
}

#content li li .reply-link a {
	position: absolute;
	right: -10px;
	bottom: 0;
}

#content #comments-wrap #respond {
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	margin: 20px 0 0 0;
	padding: 20px;
	position: relative;
}

#content #comments-wrap #respond .pad {
	padding: 0;
}

#content #comments-wrap #respond li {
	padding: 5px 0;
}

#content #comments-wrap #respond label.error {
	color: #990000;
	display: block;
	font-size: 11px;
	margin-left: 100px;
	padding: 5px 0;
	width: 300px;
}

#content #comments-wrap #respond h3 {
	margin-bottom: 20px;	
}

#content #comments-wrap #respond fieldset {
	margin-bottom: 10px;
}

#content #comments-wrap #respond input,
#content #comments-wrap #respond textarea {
	padding: 5px;
}

#content #comments-wrap #respond textarea {
	width: 350px;
	height: 200px;
}

#content #comments-wrap #respond legend {
	font-weight: bold;
	padding: 0 2px;
}

#content #comments-wrap #respond label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}

#content #comments-wrap #respond fieldset ol {
	margin: 0;
	padding: 0;
}

#content #comments-wrap #respond fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}

#content #comments-wrap #respond label {
	width: 95px; /* Width of labels */
}

#content #comments-wrap #respond #submit {
	cursor: pointer;
	padding: 5px 10px;
}

#respond input, #respond textarea {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	color: #666666;
	font-family: Arial, Helevtica, Verdana, san-serif;
	font-size: 11px;
}

#respond #submit {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

#respond #submit:hover {
	background-color: #f2f2f2;
}

/* CONTACT FORM */ 

#contact {
	position: relative;
}

#contact #sent {
	display: none;
}

#contact h3 {
	margin: 0 0 20px 0;	
}

#contact label.error {
	color: #990000;
	display: block;
	font-size: 11px;
	padding: 5px 0 5px 90px;
}

#contact fieldset {
	margin: 0 0 10px 0;
}

#contact input, #contact textarea {
	border: 1px solid #cccccc;
	color: #666666;
	font-family: Arial,Helevtica,Verdana,san-serif;
	font-size: 12px;
	padding: 5px;
}

#contact textarea {
	width: 350px;
	height: 200px;
}

#contact legend {
	font-weight: bold;
	padding: 0 2px;
}

#contact label.name {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}

#contact fieldset ol {
	margin: 0;
	padding: 0;
}

#contact fieldset li {
	background-image: none;
	list-style: none;
	margin: 0;
	padding: 5px;
}

#contact label.name {
	width: 85px; /* Width of labels */
}

#contact #submit {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	cursor: pointer;
	padding: 5px 10px;
}

#contact #submit:hover {
	background-color: #f2f2f2;
}

.honeypot {
	display: none;
}

/* PORTFOLIO */

#full-width-content a.thumb {
	border: none;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
}

#full-width-content .loader {
	background: url(../../images/shared/loader.gif);
}

#full-width-content a.thumb .enlarge {
	border: none;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

#full-width-content a.thumb .image {
	background-image: url(../../images/shared/enlarge.png);
}

#full-width-content a.thumb .video {
	background-image: url(../../images/shared/enlarge-video.png);
}

#full-width-content .portfolio-box {
	margin-bottom: 30px;
}

#full-width-content .portfolio-box h2 {
	margin: 0 0 10px 0;
}

#full-width-content .portfolio-box h2 a {
	color: #666666;
}

#full-width-content .portfolio-box h2,
#full-width-content .portfolio-box p,
#full-width-content .portfolio-box .readmore {
	padding-left: 7px;
	padding-right: 7px;
}

/* CUSTOM WIDGETS */

	/* SIMPLE CONTACT */

#footer-boxes .widget ul.jaybich-simple-contact li,	
.widget ul.jaybich-simple-contact li {
	padding: 0 0 0 30px;
	background-image: url(../../images/shared/icons-contact.png);
	background-repeat: no-repeat;
	border: none;
	line-height: 20px;
	background-position: 0 0;
	overflow: hidden;
}

.widget ul.jaybich-simple-contact li a {
	color: #cccccc;
	padding: 0;
}

.widget ul.jaybich-simple-contact li a:hover {
	color: #ffffff;
}

.widget ul.jaybich-simple-contact li {
	overflow: hidden;
}

#footer-boxes .widget ul.jaybich-simple-contact li.phone,
.widget ul.jaybich-simple-contact li.phone {
	background-position: 0 -20px;
}

#footer-boxes .widget ul.jaybich-simple-contact li.email,
.widget ul.jaybich-simple-contact li.email {
	background-position: 0 -40px;
}

#footer-boxes .widget ul.jaybich-simple-contact li.contact-form,
.widget ul.jaybich-simple-contact li.contact-form {
	background-position: 0 -60px;
}

#footer-boxes .widget ul.jaybich-simple-contact li.skype,
.widget ul.jaybich-simple-contact li.skype {
	background-position: 0 -80px;
}

#footer-boxes .widget ul.jaybich-simple-contact li.links,
.widget ul.jaybich-simple-contact li.links {
	background-position: 0 4px;
	padding: 5px 0 0 30px;
}

#footer-boxes .widget ul.jaybich-simple-contact li.extra,
.widget ul.jaybich-simple-contact li.extra {
	background-position: 0 -100px;
}

.widget ul.jaybich-simple-contact ul.social-links {
	float: left;
	padding: 0; 
	margin: 0;
	display: inline;
	bordeR: none;
}

#footer-boxes .widget ul.jaybich-simple-contact ul.social-links li,
.widget ul.jaybich-simple-contact ul.social-links li {
	float: left;
	padding: 0 1px;
	background-image: none;
	display: inline;
	border: none;
	
}

.widget ul.jaybich-simple-contact ul.social-links li a  {
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background-image: url(../../images/shared/icons-social.png);
	overflow: hidden;
}

.widget ul.jaybich-simple-contact ul.social-links li a.rss {
	background-position: 0 0;
}

.widget ul.jaybich-simple-contact ul.social-links li a.twitter {
	background-position: 0 -16px;
}

.widget ul.jaybich-simple-contact ul.social-links li a.facebook {
	background-position: 0 -32px;
}

.widget ul.jaybich-simple-contact ul.social-links li a.myspace {
	background-position: 0 -48px;
}

.widget ul.jaybich-simple-contact ul.social-links li a.flickr {
	background-position: 0 -64px;
}

.widget ul.jaybich-simple-contact ul.social-links li a.linkedin {
	background-position: 0 -80px;
}

	/* Jaybich Recent Posts */

.jaybich-recent-posts {
	border-top: 1px dashed #cccccc;
	padding: 0;
}

.jaybich-recent-posts .entry {
	border-bottom: 1px dashed #cccccc;
	line-height: 14px;
	margin: 0;
	padding: 10px 0;
}
	
.jaybich-recent-posts img {
	border: 1px solid #cccccc;
	margin: 0 10px 0 0;
	padding: 3px;
	float: left;
}

.jaybich-recent-posts .title {
	display: block;
	font-size: 11px;
	padding: 10px 0 0 0;
}

.jaybich-recent-posts .meta {
	border: none;
	display: block;
	font-size: 10px;
	font-style: italic;
}

/* Jaybich Ads - Square Buttons */

.jaybich-ad-square-buttons {
	margin: 10px 0 0 0;
}

.jaybich-ad-square-buttons a {
	display: block;
	float: left;
	line-height: 100%;
	margin: 2px;
	_margin: 0; /* IE6 */
}

.jaybich-ad-square-buttons a img {
	display: inline;
}


/*  --- eigene einstellungen */
p.env-scm {
	background-image: url(../../images/shortcodes/vcs.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 28px;
}

p.env-repo {
	background-image: url(../../images/shortcodes/repository.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 28px;
}

p.env-pkg {
	background-image: url(../../images/shortcodes/package.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 28px;
}

p.env-pkg-actions {
	padding-left: 28px;
	font-weight: bold;
}

p.env-pkg-actions a img {
	padding-top: 3px;
}

p.env-pkg-actions a.pkg-link-build {
	background-image: url(../../images/shortcodes/build.png);
	background-repeat: no-repeat;
	padding: 5px 8px 8px 8px;
	background-position: 0px 4px;
}

p.env-pkg-actions a.pkg-link-files {
	background-image: url(../../images/shortcodes/folder.png);
	background-repeat: no-repeat;
	padding: 5px 8px 8px 8px;
	background-position: 0px 4px;
}



table.pkg-list-vars {
	margin-left: 32px;
	border-left: 2px solid #0082b5;
}

.entry-header {
	background-color: #efefef;
	border: 1px solid #cfcfcf;
	padding: 5px;
}

.entry-header p {
	margin-bottom: 0px !important;
}

.entry-log-last {
	background-color: #eaf2f5;
	background-image: url(../../images/shared/bg_gradient.gif);
	background-position: 0px 100%;
	background-repeat: repeat-x;
	border: 1px solid #cfcfcf;
	padding: 5px;
	margin-top: 10px;
}

.entry-log-last .entry-log-last-msg {
	margin-bottom: 5px;
}

.entry-log-last .entry-log-last-author {
	padding-left: 60px;
	background-image: url(../../images/shortcodes/avatar.png);
	background-repeat: no-repeat;
	min-height: 53px;
}

.entry-log-last .entry-log-last-author .author {
	color: #000000;
}

.entry-log-last .entry-log-last-author .date {
	color: #888888;
}

.entry-scm-files {
	border: 1px solid #cfcfcf;
}

.entry-snippet-list {
	overflow: auto;
	border: 1px solid #cfcfcf;
	margin-bottom: 20px;
}

.entry-snippet-header {
	background-color:#DFDFDF;
	border-left:1px solid #CFCFCF;
	border-right:1px solid #CFCFCF;
	border-top:1px solid #CFCFCF;
	padding-bottom:5px;
	padding-left:5px;
	padding-top:5px;
}

p.snippet-url {
	background-image: url(../../images/shortcodes/share.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
}

pre.line_numbers {
	border: 0px;
	border-right: 1px solid #cfcfcf;
	width: 20px;
}

table.code-view td.line {
	width: 20px;
}

pre.code {
	border: 0px;
}



.entry-scm-commits {
}

.entry-scm-commits h4 {
	font-weight: bold;
}

.entry-scm-files table th {
	background-color: #eaeaea;
	border-bottom: 1px solid #d8d8d8;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-top: 4px;
}

.entry-scm-files table td {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-top: 4px;
}


.entry-scm-files table td.icon {
	width: 24px;
}

.entry-scm-files table td.file {
	width: 350px;
}

.entry-scm-files table td.date {
	width: 230px;
}

.entry-scm-files table td.message {
	width: 350px;
}

.entry-scm-view-file {
	background-color: #ffffff;
	border: 1px solid #cfcfcf;
	overflow: auto;
}

.entry-scm-view-file table td.line-counter {
	background-color: #efefef;
	border-bottom: 1px solid #f9f9f9;
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 20px;
}

.entry-scm-view-file table td.line-view {
	padding: 5px;
	background-color: #ffffff;
	border-bottom: 1px solid #f9f9f9;
}

ul.entry-toolbar {
	background-image: url(../../images/shared/tab_background.gif);
	background-repeat: repeat-x;
	float: left;
	list-style: none;
	padding: 0px;
	width: 638px;
	border-top: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
}

ul.entry-toolbar li {
	float: left;
	padding: 0px;
}

ul.entry-toolbar li a {
	display: block;
	float: left;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #cfcfcf;
}

ul.entry-toolbar li a:hover,
ul.entry-toolbar li a.active {
	background-color: #efefef;
}




.rule { 
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #dddddd;
	border-top-style: solid;
	border-top-width: 1px;
	clear: both;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
}

