/*** ESSENTIAL STYLES ***/
#menu-wrapper .menu, #menu-wrapper .menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#menu-wrapper .menu {
	line-height:	1.0;
}
#menu-wrapper .menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
#menu-wrapper .menu ul li {
	width:			100%;
}
#menu-wrapper .menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#menu-wrapper .menu li {
	float:			left;
	position:		relative;
}
#menu-wrapper .menu a {
	display:		block;
	position:		relative;
}
#menu-wrapper .menu li:hover ul,
#menu-wrapper .menu li.sfHover ul {
	left:			-1px;
	top:			37px;
	z-index:		99;
}
#menu-wrapper .menu li:hover li ul,
ul#menu-wrapper .menu li.sfHover li ul {
	top:			-999em;
}
#menu-wrapper .menu li li:hover ul,
#menu-wrapper .menu li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
#menu-wrapper .menu li li:hover li ul,
#menu-wrapper .menu li li.sfHover li ul {
	top:			-999em;
}
#menu-wrapper .menu li li li:hover ul,
#menu-wrapper .menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


/*** CUSTOM SKIN BY JASON BOBICH ***/

	/* Top Level Buttons */

#menu-wrapper .menu {
	float: left;
}

#menu-wrapper .menu li {
	background-position: right -37px;
	background-repeat: no-repeat;
	display: inline;
	float: left;
	padding: 0 1px 0 0;
}

#menu-wrapper .menu li a {
	display: block;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 13px 15px;
	color: #ffffff;
	text-decoration: none;
}

#menu-wrapper .menu > li:first-child a {
	padding: 13px 15px 13px 13px;
}

#menu-wrapper .menu li a:hover {
	background-position: 0 -74px;
	background-repeat: repeat-x;
}

	/* Second Level Buttons */

#menu-wrapper .menu li ul {
	background-image: none;
	border-top: none;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	width: 200px;
}

#menu-wrapper .menu li li {
	margin: 0;
	padding: 0;
	background-image: none;
	cursor: pointer;
}

#menu-wrapper .menu li li a {
	background-image: none;
	border-bottom: none;
	font-size: 10px;
	text-align: left;
	padding: 10px;
	cursor: pointer;
}

#menu-wrapper .menu li li a:hover {
	background-image: none;
}

#menu-wrapper .menu li li ul {
	padding: 0;
}

#menu-wrapper .menu li li li {}
#menu-wrapper .menu li:hover, #menu-wrapper .menu li.sfHover {
	outline:		0;
}

/*** arrows **/
#menu-wrapper .menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			10px; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../../images/shared/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			15px;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}

li li a > .sf-sub-indicator {
	top: 10px;
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#menu-wrapper .menu ul .sf-sub-indicator { background-position:  -10px 0; }
#menu-wrapper .menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
#menu-wrapper .menu ul a:focus > .sf-sub-indicator,
#menu-wrapper .menu ul a:hover > .sf-sub-indicator,
#menu-wrapper .menu ul a:active > .sf-sub-indicator,
#menu-wrapper .menu ul li:hover > a > .sf-sub-indicator,
#menu-wrapper .menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

.current-menu-item {
	background-color: #358BC7;
}
