<% my %p = @_; %>
<% foreach my $env ($main::build_conf->get_environments()) { %>
<div class="entry">
	<h1><a href="/environments/<%= $env %>"><%= $env %></a></h1>

	<div class="content">

		<p><%= $main::build_conf->get_env_description($env) %></p>
		<p class="env-scm"><%= $main::build_conf->get_env_scm($env) %></p>
		<p class="env-repo"><%= $main::build_conf->get_env_repo($env) %></p>

	</div>
</div>
<% } %>


