<% my %p = @_; %>
<div class="entry">
	<h1><a href="">Details for <%= $p{'env'} %></a></h1>

	<div class="content">

		<p><%= $main::build_conf->get_env_description($p{'env'}) %></p>
		<p class="env-scm"><%= $main::build_conf->get_env_scm($p{'env'}) %></p>
		<p class="env-repo"><%= $main::build_conf->get_env_repo($p{'env'}) %></p>

	</div>
</div>
<div class="entry">
	<h2><a href="">Packages</a></h2>

	<div class="content">
	<% foreach my $pkg ($main::build_conf->get_pkgs($p{'env'})) { %>
	<p class="env-pkg" style="font-size: 18px;"><%= $pkg %></p>
	<p class="env-pkg-actions">Actions: <span style="padding-left: 7px;">&nbsp;</span><a href="/build/<%= $p{'env'} %>/package/<%= $pkg %>" title="Build this package" class="pkg-link-build"></a><span style="padding-left: 3px;">&nbsp;</span><a href="/scm/browse/<%= $p{'env'} %>/<%= $pkg %>" class="pkg-link-files" title="Show all files"></a></p>
		<table border="0" class="pkg-list-vars">
			<tr>
				<th>Variable</th>
				<th>Value</th>
			</tr>
			<% foreach my $var ($main::build_conf->get_pkg_vars($p{'env'}, $pkg)) { %>
				<tr>
					<td>
						<%= $var->{'name'} %>
					</td>
					<td>
						<%= $var->{'value'} %>
					</td>
				</tr>
			<% } %>
		</table>
		<br />
	<% } %>
	</div>
</div>

