<% my %p = @_; %>

<div class="entry">
	<h1><a href="/environments" title="Build Environments">Build Environments</a></h1>

	<div class="content">

		<ul>
		<% foreach my $env ($main::build_conf->get_environments()) { %>
			<li><%= $env %> [<a href="/build/<%= $env %>">Build</a>]</li>
		<% } %>
		</ul>

	</div>
</div>

