<% my %p = @_; %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Jibnu -//- One source to command, control and build them all</title>

	<!-- FONT -->
	<link href="http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold&amp;subset=latin" rel="stylesheet" type="text/css" />

    <!-- CSS -->
    <link rel="stylesheet" href="/layout/css/core/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/layout/css/core/nav.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/layout/css/core/core.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/layout/plugins/prettyphoto/css/prettyPhoto.css" type="text/css" media="screen" />
    
    <!-- Style: Blue, Green, Orange, Purple, Red, or Yellow -->
    <link rel="stylesheet" href="/layout/css/style/blue.css" type="text/css" media="screen" />
    
    <script type="text/javascript" src="/layout/js/jquery.js"></script>

	<!-- Slideshow Navigation -->
	<script type="text/javascript">
	function paginate(idx, slide){	
		return "<a href='' title='' class='ie6'><img src='/layout/images/shared/transparent.png' alt='' class='ie6' /></a>";
	}
	</script>

</head>

<body>

<div id="wrapper">

	<div id="header">
	
		<div class="content">
		
			<a href="/" title="" id="logo"><img src="/layout/images/shared/logo.png" alt="" /></a>
			
			<div id="twitter">
				<div class="inner">
				
					<script type="text/javascript">
					jQuery.noConflict()(function(){
						jQuery(window).load(function() {
							jQuery(".twitter_div").getTwitter({
								userName: "pr0gm4",
								numTweets: 1,
								loaderText: "Loading tweets...",
								slideIn: true,
								slideDuration: 750,
								showHeading: false,
								showProfileLink: false,
								showTimestamp: true
							});
						});
					});
					</script>
				
					<div class="twitter_div"></div>
				
					<a href="http://www.twitter.com/pr0gm4" title="Follow Me!" class="twitter-follow">Follow Me!</a>
				
				</div><!-- .inner (end) -->
			</div><!-- #twitter (end) -->
			
		</div><!-- .content (end) -->
	
	</div><!-- #header (end) -->
	
	<div id="menu-wrapper">
		
		<div class="content">
		
			<ul class="menu">
				
				<li <% if($p{'area'} eq "index") { %>class="current-menu-item" <% } %>><a href="/" title="Home">Home</a></li>
				<li <% if($p{'area'} eq "status") { %>class="current-menu-item" <% } %>><a href="/status" title="Status">Status</a></li>
				<li <% if($p{'area'} eq "environments") { %>class="current-menu-item" <% } %>><a href="/environments" title="Display all Environments with their options">Environments</a></li>
				<li <% if($p{'area'} eq "scm") { %>class="current-menu-item" <% } %>><a href="/scm" title="Display all registered SCMs">SCM</a></li>
				<li <% if($p{'area'} eq "snippets") { %>class="current-menu-item" <% } %>><a href="/snippets" title="Share code snippets">Schnibbeds</a></li>
			</ul>
			
			<div class="clear"></div>
			
		</div><!-- .content (end) -->
	
	</div><!-- #menu-wrapper (end) -->
	
	<div id="main">
		
		<div class="content">
		
			<% if($p{'area'} eq "index") { %>
			<div id="slogan">
			
				<p>One <span>source</span> to build them all<span>!</span></p>
			
			</div><!-- #slogan (end) -->
			<% } %>
			
			<div id="content">
				<%= $p{'content'} %>
			</div>

				<div id="sidebar">
				
					<div class="widget">
						<h2>Last Errors</h2>
						<ul>
						<% foreach my $err (@{$p{'build_errors'}}) { %>
							<li><b><%= $err->{'env'} %></b>: <%= $err->{'pkg'} %> (<%= $err->{'modified'} %>)</li>
						<% } %>
						</ul>
					</div>

					<div class="widget">
						<h2>Last Tasks</h2>
						<ul>
						<% foreach my $ok (@{$p{'build_ok'}}) { %>
							<li><b><%= $ok->{'env'} %></b>: <%= $ok->{'pkg'} %> (<%= $ok->{'modified'} %>)</li>
						<% } %>
						</ul>
					</div>


				</div>


		
			<div class="clear"></div>
		
		
		</div><!-- .content (end) -->

			
	</div><!-- #main (end) -->
	
	<div id="footer-top"><!-- --></div>
	
	<div id="footer">
	
		<div class="content">
			
			<div id="footer-boxes">
			
				<div class="widget one-fourth">
					<div class="pad">
				
						<h3>Get in touch</h3>
	
						<ul class="jaybich-simple-contact">
							<li class="email ie6"><a href="mailto:jan.gehring@gmail.com" title="Email Me">jan.gehring@gmail.com</a></li>
							<li class="links ie6">
								<ul class="social-links">					
									<li><a href="http://twitter.com/pr0gm4" title="Twitter" class="twitter ie6 image-button">Twitter</a></li>
								</ul>
							</li>
						</ul>
						
					</div><!-- .pad (end) -->
				</div><!-- .widget (end) -->
			
				<div class="widget one-fourth">
					<div class="pad">
						
						<h3>Latest News</h3>
	
						<ul>
							<li><a href="" title="">Put Jibnu Server online</a></li>
						</ul>
						
					</div><!-- .pad (end) -->
				</div><!-- .widget (end) -->
			
				<div class="widget one-fourth">
					<div class="pad">
					
						<h3>&nbsp;</h3>
					<!--
						<ul>
							<li><a href="" title="">Lorem ipsum dolor sit</a></li>
							<li><a href="" title="">Lorem ipsum dolor sit</a></li>
							<li><a href="" title="">Lorem ipsum dolor sit</a></li>
							<li><a href="" title="">Lorem ipsum dolor sit</a></li>
							<li><a href="" title="">Lorem ipsum dolor sit</a></li>
						</ul>
					-->
					</div><!-- .pad (end) -->				
				</div><!-- .widget (end) -->
			
				<div class="widget one-fourth">
					<div class="pad">
						
						<h3>About Jibnu</h3>
						
						<p>Jibnu is a build server for template based builds. Blub Blah...</p>
					
					</div><!-- .pad (end) -->
				</div><!-- .widget (end) -->
				
				<div class="clear"></div>
			
			</div><!-- #footer-boxes (end) -->
			
			<div id="copyright">
				
				<p class="info">&copy; 2010 <a href="mailto:jan.gehring@gmail.com" title="">Jan Gehring</a>.</p>
				
				<ul class="menu">
					<li><a href="javascript:alert('Ha! This works!');" title="">Nothing works</a></li>
					<li><a href="" title="">freenode #jibnu</a></li>
					<li><a href="" title="">Help i'm lost!</a></li>
				</ul>
			
				<div class="clear"></div>
			
			</div><!-- #copyright (end) -->
			
		</div><!-- .content (end) -->
	
	</div><!-- #footer (end) -->

</div><!-- #wrapper (end) -->

</body>
    <!-- JS -->
    <script type="text/javascript" src="/layout/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/layout/js/cycle.js"></script>
    <script type="text/javascript" src="/layout/js/superfish.js"></script>
    <script type="text/javascript" src="/layout/js/validate.js"></script>
    <script type="text/javascript" src="/layout/js/custom.js"></script>
    <script type="text/javascript" src="/layout/js/scm.js"></script>

</html>
