<% my %p = @_; %>
<div class="entry">
	<h1><a href="#">All registered SCM Systems</a></h1>

	<div class="content">

<% foreach my $env ($main::build_conf->get_environments()) { %>
		<p class="env-scm"><a href="/scm/browse/<%= $env %>"><%= $main::build_conf->get_env_scm($env) %></a></p>
<% } %>

		<div class="rule"></div>
		<p><a href="/scm/update">Update Repositories</a></p>
	</div>
</div>

