<% my %p = @_; %>

<div class="entry">
	<h1><a href="#">Source Repository of <%= $p{'env'} %></a></h1>

	<div class="content">

		<%* scm_header.part.html | PARAM: %p -%>

		<div class="entry-scm-comments">
			<p><a href="/scm/comments/<%= $p{'env'} %>/add" class="button" title="Post a new comment">New Comment</a></p>
			<% if(scalar(@{$p{'comments'}}) == 0) { %>
			<p>No Comments</p>
			<% } %>
			<% foreach my $comment (@{$p{'comments'}}) { %>
			<div class="entry-log-last">
				<h4 style="padding: 0; margin: 0; margin-bottom: 5px;" class="entry-log-last-msg"><%= $comment->{'title'} %></h4>
				<p class="entry-log-last-author">
					<span class="author"><%= $comment->{'email'} %></span>
					<br />
					<span class="date"><%= $comment->{'message'} %></span>
				</p>
			</div>
			<% } %>
		</div>
	</div>
</div>

