<% my %p = @_; %>

<div class="entry">
	<h1><a href="#">Source Repository of <%= $p{'env'} %></a></h1>

	<div class="content">


		<%* scm_header.part.html | PARAM: %p -%>

		<div class="entry-scm-commits">
			<% foreach my $day (keys %{$p{'commits'}}) { %>
			<h4><%= $day %></h4>
				<% foreach my $commit (@{$p{'commits'}->{$day}}) { %>
				<div class="entry-log-last">
					<p class="entry-log-last-msg"><%= $commit->{'msg'} %></p>
					<p class="entry-log-last-author">
						<span class="author"><%= $commit->{'author'} %></span>
						<br />
						<span class="date"><%= $commit->{'date'} %></span>
					</p>
				</div>
				<% } %>
			<% } %>
		</div>
	</div>
</div>

