<% my %p = @_; %>

<div class="entry">
	<h1><a href="#">Source Repository of <%= $p{'env'} %></a></h1>

	<div class="content">

		<%* scm_header.part.html | PARAM: %p -%>

		<div id="comments-wrap">
			<div class="rounded-10" id="respond">
				<div class="pad">
					<form action="/scm/comments/<%= $p{'env'} %>/add" method="post" class="comments-form">
						<h3>Post a Comment</h3>
						<fieldset>
							<ol>
								<li>
									<label for="author">E-Mail</label>
									<input type="text" name="author" id="author" value="" class="required" size="60" />
								</li>
								<li>
									<label for="title">Title</label>
									<input type="text" name="title" id="title" value="" class="required" size="60" />
								</li>
								<li>
									<label for="message">Message</label>
									<textarea name="message" id="message" class="required" rows="20" cols="50"></textarea>
								</li>
								<li>
									<label for="submit"></label>
									<input type="submit" id="submit" value="Submit" />
								</li>
							</ol>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

