<% my %p = @_; %>

<div class="entry">
	<h1><a href="#">All repositorys will be updated in the background</a></h1>

	<div class="content">

		<p class="env-scm">All repositorys will be updated in the background</p>

	</div>
</div>

