<% my %p = @_; %>
		<div class="entry-toolbar">
			<ul class="entry-toolbar">
				<li><a href="/scm/browse/<%= $p{'env'} %>" <% if($p{'sub_area'} eq "browse") { %>class="active"<% } %>>Source</a></li>
				<li><a href="/scm/commits/<%= $p{'env'} %>" <% if($p{'sub_area'} eq "commits") { %>class="active"<% } %>>Commits</a></li>
				<li><a href="/scm/comments/<%= $p{'env'} %>" <% if($p{'sub_area'} eq "comments") { %>class="active"<% } %>>Comments</a></li>
				<!-- <li><a href="/scm/wiki/<%= $p{'env'} %>" <% if($p{'sub_area'} eq "wiki") { %>class="active"<% } %>>Wiki</a></li> -->
			</ul>
		</div>
		<div style="clear: both;"></div>

		<div class="entry-header">
			<%= $main::build_conf->get_env_description($p{'env'}) %>
			<div class="rule"></div>
			<p class="env-scm"><a href="<%= $main::build_conf->get_env_scm($p{'env'}) %>"><%= $main::build_conf->get_env_scm($p{'env'}) %></a></p>
		</div>

		<div class="entry-log-last">
			<p class="entry-log-last-msg"><%= $p{'last_log'}->{'msg'} %></p>
			<p class="entry-log-last-author">
				<span class="author"><%= $p{'last_log'}->{'author'} %></span>
				<br />
				<span class="date"><%= $p{'last_log'}->{'date'} %></span>
			</p>
		</div>

		<div class="entry-scm-path">
			<h2><a href="/scm/browse/<%= $p{'env'} %>"><%= $p{'env'} %></a> / <% foreach my $p (@{$p{'current_path_array'}}) { %> <%= $p %> / <% } %></h2>
		</div>


