<% my %p = @_; %>

<div class="entry">
	<h1><a href="#">Source Repository of <%= $p{'env'} %></a></h1>

	<div class="content">


		<%* scm_header.part.html | PARAM: %p -%>

		<div class="entry-scm-view-file">
			<% my $counter = 0; %>
			<table border="0" width="100%" cellpadding="0" cellspacing="0" class="code-view">
				<tr>
					<td class="line">
<pre class="line_numbers">
<% my $line_count = 1; -%>
<% foreach my $line (@{$p{'file_content'}}) { -%>
<span id="SLN<%= $line_count %>"><%= $line_count -%></span>
<% $line_count++; -%>
<% } -%>
</pre>
					</td>
					<td>
<pre class="code">
<% foreach my $line (@{$p{'file_content'}}) { -%>
<%= $line -%>
<% } -%>
</pre>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

