<% my %p = @_; %>
<% my $pref = 'rocks' %>

<div class="entry">
	<h1><a href="#">Source Repository of <%= $p{'env'} %></a></h1>

	<div class="content">

		<%* scm_header.part.html | PARAM: %p -%>

		<div class="entry-scm-files">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<th>
						&nbsp;
					</th>
					<th>
						name
					</th>
					<th>
						age
					</th>
					<th>
						message
					</th>
				</tr>
			<% foreach my $entry (@{$p{'listing'}}) { %>
				<tr>
					<td class="icon">
						<img src="/layout/images/shortcodes/<%= $entry->{'type'} %>.png" />
					</td>
					<td class="file">
						<% if( $entry->{'mime_type'} eq "application/x-directory" ) { %>
							<a href="/scm/browse/<%= $p{'env'} %><%= $p{'current_path'} %><%= $entry->{'name'} %>"><%= $entry->{'name'} %></a>
						<% } else { %>
							<a href="/scm/view/<%= $p{'env'} %><%= $p{'current_path'} %><%= $entry->{'name'} %>"><%= $entry->{'name'} %></a>
						<% } %>
					</td>
					<td class="date external-content" src="/scm/log/<%= $p{'env'} %><%= $p{'current_path'} %><%= $entry->{'name'} %>" row="last_log.date">
						<img src="/images/indicator.gif" />
					</td>
					<td class="message external-content" src="/scm/log/<%= $p{'env'} %><%= $p{'current_path'} %><%= $entry->{'name'} %>" row="last_log.msg">
						<img src="/images/indicator.gif" />
					</td>
				</tr>
			<% } %>
			</table>
		</div>
	</div>
</div>

