<% my %p = @_; %>

<div class="entry">
	<div class="content">

		<%* snippet_header.part.html | PARAM: %p -%>

		<div class="entry-header">
			<p>Snippet <%= $p{'snippet'}->{'name'} %></p>
			<div class="rule"></div>
			<p class="snippet-url"><%= $p{'snippet_url'} %></p>
		</div>

		<h2>View Snippet</h2>

		<div class="entry-snippet-header">
			<a href="/snippets/view/<%= $p{'snippet'}->{'snippet_id'} %>"><%= $p{'snippet'}->{'name'} %></a>
		</div>

		<div class="entry-snippet-list">
			<table border="0" width="100%" cellpadding="0" cellspacing="0" class="code-view">
				<tr>
					<td class="line">
<pre class="line_numbers">
<% my $line_count = 1; -%>
<% foreach my $line (@{$p{'snippet'}->{'content'}}) { -%>
<span id="SLN<%= $line_count %>"><%= $line_count -%></span>
<% $line_count++; -%>
<% } -%>
</pre>
					</td>
					<td>
<pre class="code">
<% foreach my $line (@{$p{'snippet'}->{'content'}}) { -%>
<%= $line %>
<% } -%>
</pre>
					</td>
				</tr>
			</table>
		</div>

		<h2>Comments</h2>
		<div class="entry-scm-comments">
			<% if(scalar(@{$p{'comments'}}) == 0) { %>
			<p>No Comments</p>
			<% } %>
			<% foreach my $comment (@{$p{'comments'}}) { %>
			<div class="entry-log-last">
				<h4 style="padding: 0; margin: 0; margin-bottom: 5px;" class="entry-log-last-msg"><%= $comment->{'title'} %></h4>
				<p class="entry-log-last-author">
					<span class="author"><%= $comment->{'email'} %></span>
					<br />
					<span class="date"><%= $comment->{'message'} %></span>
				</p>
			</div>
			<% } %>
		</div>

		<div id="comments-wrap">
			<div class="rounded-10" id="respond">
				<div class="pad">
					<form action="/snippets/comment/<%= $p{'snippet'}->{'snippet_id'} %>/add" method="post" class="comments-form">
						<h3>Post a Comment</h3>
						<fieldset>
							<ol>
								<li>
									<label for="author">E-Mail</label>
									<input type="text" name="author" id="author" value="" class="required" size="60" />
								</li>
								<li>
									<label for="title">Title</label>
									<input type="text" name="title" id="title" value="" class="required" size="60" />
								</li>
								<li>
									<label for="message">Message</label>
									<textarea name="message" id="message" class="required" rows="20" cols="50"></textarea>
								</li>
								<li>
									<label for="submit"></label>
									<input type="submit" id="submit" value="Submit" />
								</li>
							</ol>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>

