<% my %p = @_; %>
<div class="entry">
	<div class="content">

		<%* snippet_header.part.html | PARAM: %p -%>

		<div class="entry-header">
			<p>Snippets are a simple way to share pastes with others. All snippets are automatically versioned.</p>
		</div>

		<div id="comments-wrap">
			<div class="rounded-10" id="respond">
				<div class="pad">
					<form action="/snippets" method="post" class="comments-form">
						<h3>Post a Snippet</h3>
						<fieldset>
							<ol>
								<li>
									<label for="author">E-Mail</label>
									<input type="text" name="author" id="author" value="" class="required" size="60" maxlength="250" />
								</li>
								<li>
									<label for="source">Language</label>
									<select name="source" size="1">
										<option value="awk">AWK</option>
										<option value="bash">Bash</option>
										<option value="c">C</option>
										<option value="c">C++</option>
										<option value="changelog">ChangeLog</option>
										<option value="css">CSS</option>
										<option value="diff">Diff</option>
										<option value="java">Java</option>
										<option value="javascript">JavaScript</option>
										<option value="makefile">Makefile</option>
										<option value="php">PHP</option>
										<option value="perl">Perl</option>
										<option selected="selected" value="plain">Plain Text</option>
										<option value="python">Python</option>
										<option value="ruby">Ruby</option>
										<option value="sql">SQL</option>
										<option value="xml">XML</option>
									</select>
								</li>
								<li>
									<label for="name">Name</label>
									<input type="text" name="name" id="name" value="" class="required" size="60" maxlength="50" />
								</li>
								<li>
									<label for="txtcode">Snippet</label>
									<textarea name="txtcode" id="txtcode" class="required" rows="20" cols="50"></textarea>
								</li>
								<li>
									<label for="submit"></label>
									<input type="submit" id="submit" value="Submit" />
								</li>
							</ol>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

