<% my %p = @_; %>

<div class="entry">
	<div class="content">

		<%* snippet_header.part.html | PARAM: %p -%>

		<div class="entry-header">
			<p>Browse all Snippets.</p>
		</div>

		<h2>All Snippets</h2>

	<% foreach my $snippet (@{$p{'snippets'}}) { %>
		<div class="entry-snippet-header">
			<a href="/snippets/view/<%= $snippet->{'snippet_id'} %>"><%= $snippet->{'name'} %></a>
		</div>

		<div class="entry-snippet-list">
			<table border="0" width="100%" cellpadding="0" cellspacing="0" class="code-view">
				<tr>
					<td class="line">
<pre class="line_numbers">
<% my $line_count = 1; -%>
<% foreach my $line (@{$snippet->{'content'}}) { -%>
<span id="SLN<%= $line_count %>"><%= $line_count -%></span>
<% $line_count++; -%>
<% } -%>
</pre>
					</td>
					<td>
<pre class="code">
<% foreach my $line (@{$snippet->{'content'}}) { -%>
<%= $line %>
<% } -%>
</pre>
					</td>
				</tr>
			</table>
		</div>
	<% } %>
	</div>
</div>

