<% my %p = @_; %>
		<div class="entry-toolbar">
			<ul class="entry-toolbar">
				<li><a href="/snippets" <% if($p{'sub_area'} eq "index") { %>class="active"<% } %>>New Snippet</a></li>
				<li><a href="/snippets/browse" <% if($p{'sub_area'} eq "browse") { %>class="active"<% } %>>All Snippets</a></li>
			</ul>
		</div>
		<div style="clear: both;"></div>



