<% my %p = @_; %>
<div class="entry">
	<h1><a href="" title="Build Environments">Worker Status</a></h1>

	<div class="content">
		<table border="0" cellpadding="3" cellspacing="0">
		<tr>
			<th >
				Thread Name
			</th>
			<th>
				Action
			</th>
		</tr>
		<% foreach my $thread (@{$p{'threads'}}) { %>
			<tr>
				<td>
					<%= $thread->{'name'} %>
				</td>
				<td <% if($thread->{'status'} eq 'idle') { %> bgcolor="#35c73f" <% } else { %> bgcolor="#ffc000" <% } %>>
					<%= $thread->{'status'} %>
				</td>
			</tr>
		<% } %>
		</table>
	</div>
</div>

